@import "tailwindcss";

@theme {
  --color-bg: #050505;
  --color-surface: #121212;
  --color-accent: #ff0000;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a0a0a0;
  --color-comment-bg: #181818;
  --color-border-dark: #222222;
  
  --font-sans: "Helvetica Neue", Arial, sans-serif;
}
